@model IEnumerable<MyFriends2.Models.Friend>

@{
    ViewData["Title"] = "Index";
}

<h1>רשימת חברים</h1>

<p>
    <a asp-action="Create">הוספת חבר חדש</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>תמונה</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            @if(item.Images.Count()>0)
                if(item.Images.First().MyImage!=null)
                    {
                        <img src="data:image;base64,
                                @System.Convert.ToBase64String(item.Images.First().MyImage)" width="80" height="60" />
                    
                    }
                <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
