@model MyFriends3._5.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container">
    <h4>User</h4>
    <hr />
    <div class="row mb-4">
        <div class="col-sm-2">
            <img width="150" height="150" src="@ViewData["ProfilePicture"]" alt="Profile Picture" class="img-thumbnail" />
        </div>
        <div class="col-sm-10">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FirstName)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LastName)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Phone)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Phone)</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
