@model List<MVCShoeShop.Models.Shoe>;

@{
    ViewData["Title"] = "Shoe List";
}
<h1>@ViewData["Title"]</h1>

<table>
    <thead>
        <th> @* Table Header Row *@
            <td>Id</td>
            <td>Color</td>
            <td>Size</td>
        </th>
    </thead>
    <tbody>

        @foreach (Shoe shoe in Model) {

            <tr>
                <td>@shoe.Id</td>
                <td>
                    @Html.ActionLink(@shoe.Color, "Details", new { id = shoe.Id })
                </td>
                <td>@shoe.Size</td>
                <td>
                    @foreach (var image in shoe.Images)
                    {
                        <img src="data:@image.ContentType;base64,@Convert.ToBase64String(image.ImageData)" alt="Product Image" width="100" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = shoe.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = shoe.Id })
                </td>
            </tr>

        }

    </tbody>
</table>

