@model MVCShoeShop.ViewModels.ShoeWithCategories;
@{
    ViewData["Title"] = "New Shoe";
}
<h1>@ViewData["Title"]</h1>
<div>
    <form asp-controller="Shoes" asp-action="Create" method="post">
        <label>
            <span>Color</span>
            <input type="text" asp-for="Shoe.Color" value="@Model.Shoe.Color" />
        </label>
        <label>
            <span>Size</span>
            <input type="text" asp-for="Shoe.Size" value="@Model.Shoe.Size" />
        </label>

        @* רשימה של קטגוריות *@
        @* @Html.DropDownListFor(Model.SelectedCategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select Category"); *@
        <select asp-for="SelectedCategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))"></select>

        <div class="form-group">
            <label class="control-label">Images</label>
            <input type="file" name="imageFiles" class="form-control" multiple />
        </div>
        <button type="submit">צור נעל</button>
    </form>
</div>